table{
    font-size: 1.1em;
    font-family: sans-serif;
    min-width: 200px;
    margin: auto;
    border: 1px solid #777;
}

table th{
    background-color: #3a3a3a;
}

button {
    background-color: #ff2b7f;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
    font-size: 14px;
    height: 40px;
    padding: 10px 16px;
    color: #FFFFFF;
    width:175px;
}

button:hover,
button:focus {
    background-color: #F082AC;
}

body {
    background-color: #1D1E22;
    color: #FFFFFF;
}

div{
    margin:100px auto;
    width:50%;
    justify-content:center;
    text-align: center;
}

.usertable{
    min-width: 120px;
}
